<% provide(:title, "Log In") %>
<div class="center jumbotron">
    <h1>LOG IN</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= form_for(:session, url: login_path) do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.submit "Log In", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>
