<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: shelf, local: true) do |form| %>
      <% if shelf.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(shelf.errors.count, "error") %> prohibited this shelf from being saved:</h2>

          <ul>
          <% shelf.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :shelf_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :capacity %>
        <%= form.number_field :capacity, id: :shelf_capacity, class: 'form-control', within: 1..25 %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
