<% provide(:title, "Shelves") %>
<p id="notice"><%= notice %></p>
<div class="center jumbotron">
  <h1>Shelves</h1>
  <%= link_to 'New Shelf', new_shelf_path %>
  <br>
  <table id="items" class="table table-bordered table-striped">
    <thead>
      <tr>
      <th>Name</th>
      <th>Capacity</th>
    </tr>
  </thead>

  <tbody>
    <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf.name %></td>
        <td><%= shelf.capacity %></td>
        <td><%= link_to 'Delete', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
