<p id="notice"><%= notice %></p>
<% provide(:title, "Shelf Details") %>
<div class="center jumbotron">
  <h1>Shelf Details</h1>
  <table id="shelf" class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <td><%= @shelf.name %></td>
    </tr>
    <tr>
      <th>Capacity</th>
      <td><%= @shelf.capacity %></td>
    </tr>
  </table>
  <br>
  <%= link_to 'Back', shelves_path %>
</div>
