<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: item, local: true) do |form| %>
      <% if item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
          <% item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, id: :item_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :shelf_id %>
        <%= form.number_field :shelf_id, id: :item_shelf_id, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :status %>
        <%= form.select :status,
                     [
                      ['NO SHELF', 'NO SHELF'],
                      ['SHELVED', 'SHELVED'],
                      ['BORROWED', 'BORROWED'],
                      ['RETURNED', 'RETURNED']
                     ],
                     id: :item_status, class: 'form-control'
        %>
      </div>

      <div class="field">
        <%= form.label :borrower_id %>
        <%= form.number_field :borrower_id, id: :item_borrower_id, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :date_borrowed %>
        <%= form.date_select :date_borrowed, id: :item_date_borrowed, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :date_of_return %>
        <%= form.date_select :date_of_return, id: :item_date_of_return, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>
