<% provide(:title, "Items") %>
<p id="notice"><%= notice %></p>
<div class="center jumbotron">
  <h1>Items</h1>
  <%= link_to 'New Item', new_item_path %>
  <br>
  <table id="items" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Shelf</th>
        <th>Status</th>
        <th>Borrower</th>
        <th>Date Borrowed</th>
        <th>Date of Return</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.shelf_id %></td>
          <td><%= item.status %></td>
          <td><%= item.borrower_id %></td>
          <td><%= item.date_borrowed %></td>
          <td><%= item.date_of_return %></td>
          <% if item.status == 'SHELVED' %>
            <td><%= link_to 'Borrow', edit_item_path(item) %></td>
          <% elsif item.status == 'BORROWED' %>
            <td><%= link_to 'Return', edit_item_path(item) %></td>
          <% elsif  item.status == 'NO SHELF' %>
            <td><%= link_to 'Assign', edit_item_path(item) %></td>
          <% end %>
          <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
