<% provide(:title, "New Item") %>
<div class="center jumbotron">
  <h1>New Item</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_with(model: @item, local: true) do |form| %>
        <% if @item.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, id: :item_name, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :shelf_id %>
          <% if @shelves %>
            <%= form.number_field :shelf_id, id: :item_shelf_id, class: 'form-control',
              value: 0, :readonly => true %>
          <% else %>
            <%= form.select :shelf_id,
            Shelf.all.collect { |shelf| shelf.id }, :prompt => 'Select a Shelf ID.', include_blank: true,
            id: :item_shelf_id, class: 'form-control' %>
          <% end %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', items_path %>
</div>
