<p id="notice"><%= notice %></p>
<% provide(:title, "Item Details") %>
<div class="center jumbotron">
  <h1>Item Details</h1>
  <table id="item" class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th>Shelf</th>
      <td><%= @item.shelf_id %></td>
    </tr>
    <tr>
      <th>Status</th>
      <td><%= @item.status %></td>
    </tr>
    <% if @item.status == 'BORROWED' %>
      <tr>
        <th>Borrower ID</th>
        <td><%= @item.borrower_id %></td>
      </tr>
      <tr>
        <th>Date Borrowed</th>
        <td><%= @item.date_borrowed %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <%= link_to 'Back', items_path %>
</div>
