<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "KARITE", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
<!--         <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
              <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %> -->
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Shelves", shelves_path %></li>
      </ul>
    </nav>
  </div>
</header>
