<!DOCTYPE html>
<html>
  <head>
    <title><%= title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag  'application',
                                'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     'application',
                                media: 'all',
                                'data-turbolinks-track': 'reload' %>
  <!-- JAVASCRIPTS -->
    <%= javascript_include_tag 'https://code.jquery.com/ui/1.11.4/jquery-ui.min.js' %>
    <%= javascript_include_tag 'toastr.min.js' %>
    <%= javascript_include_tag 'bootstrap3-wysihtml5.all.min.js' %>
    <%= javascript_include_tag 'jquery.dataTables.min.js' %>
    <%= javascript_include_tag 'dataTables.bootstrap.min.js' %>
    <%= javascript_include_tag 'jquery.slimscroll.min.js' %>
    <%= javascript_include_tag 'fastclick.js' %>
    <%= javascript_include_tag 'admin-lte-app.min.js' %>
    <%= javascript_include_tag 'icheck.min.js' %>
    <%= javascript_include_tag 'bootstrap-datepicker.js' %>
  <!-- STYLESHEETS -->
    <%= stylesheet_link_tag 'toastr.css' %>
    <%= stylesheet_link_tag 'AdminLTE.min.css' %>
    <%= stylesheet_link_tag 'admin-lte-all-skins.min.css' %>
    <%= stylesheet_link_tag 'blue.css' %>
    <%= stylesheet_link_tag 'dataTables.bootstrap.css' %>
    <%= stylesheet_link_tag 'datepicker3.css' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
